@model List<Category>
@{
    ViewData["Title"] = "Index";

}


<div class="container">
    <div class="row">
        <h2 class="text-primary">Category List</h2>
        <partial name="_Notification" />
    </div>
    <div class="d-grid gap-2">
        <a asp-area="Admin" asp-controller="Category" asp-action="Upsert" class="btn btn-primary" type="button">Create New Category</a>

    </div>

    <div class="row">

        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Title</th>
                    <th scope="col">Display Order</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var category in Model)
                {
                    <tr class="justify-content-evenly">

                        <td>@category.Id</td>
                        <td>@category.Title</td>
                        <td>@category.DisplayOrder</td>
                        <td class="text-end">
                            <a asp-area="Admin" asp-controller="Category" asp-action="Delete" asp-route-id="@category.Id" class="btn btn-primary">Detete</a>
                            <a asp-area="Admin" asp-controller="Category" asp-action="Upsert" asp-route-id="@category.Id" class="btn btn-primary">Edit</a>
                        </td>
                    </tr>
                }

            </tbody>
        </table>
    </div>
</div>
