@model BookVM

@{
    ViewData["Title"] = "Upsert";
}

<div class="container">


    <h2 class="text-primary">@(Model.Book.Id != 0 ? "Update" : "Create") book</h2>
    <hr />

    <div class="row">
        <div class="col-md-4">
            <form asp-action="Upsert" enctype="multipart/form-data">
                <input asp-for="@Model.Book.Id" hidden />
                <input asp-for="@Model.Book.ImageURL" hidden />

                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="@Model.Book.Title" class="control-label"></label>
                    <input asp-for="@Model.Book.Title" class="form-control" />
                    <span asp-validation-for="@Model.Book.Title" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="@Model.Book.Author" class="control-label"></label>
                    <input asp-for="@Model.Book.Author" class="form-control" />
                    <span asp-validation-for="@Model.Book.Author" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="@Model.Book.Price" class="control-label"></label>
                    <input asp-for="@Model.Book.Price"  class="form-control" />
                    <span asp-validation-for="@Model.Book.Price" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="@Model.Book.DatePublished" class="control-label"></label>
                    <input asp-for="@Model.Book.DatePublished" class="form-control" />
                    <span asp-validation-for="@Model.Book.DatePublished" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="@Model.Book.CategoryId" class="control-label"></label>
                    <select asp-for="@Model.Book.CategoryId" class="form-control" asp-items="@Model.CategoryList">
                        <option disabled selected>-Select Category</option>
                    </select>
                </div>
                <div class="form-group">
                    <label asp-for="@Model.Book.ImageURL" class="control-label"></label>
                    <input type="file" name="file" class="form-control" />

                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary">@(Model.Book.Id != 0 ? "Update" : "Create") </button>
                </div>
            </form>
        </div>
        <div class="col-md-8">
            <img src="@Model.Book.ImageURL" width="400" style="border-radius:5px; border: 1px solid #bbb9b9"/>
        </div>
    </div>

    <div>
        <a asp-action="Index">Back to List</a>
    </div>

</div>
